* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Term";
    font-size: 13px;
    min-height: 0;
    padding: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.85);
    color: #eceff4;
}

tooltip {
    background: rgba(0, 0, 0, 0.85);
    color: #eceff4;
    border: 1px solid #333333;
}

#mode,
#clock,
#battery,
#tray,
#cpu,
#memory,
#network,
#pulseaudio {
    margin: 0 4px;
    padding: 0 4px;
    background: transparent;
    color: #eceff4;
}

#workspaces button {
    transition: none;
    background: transparent;
    padding: 0 5px;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#battery {
    color: #81a1c1;
}

#battery.charging {
    color: #a3be8c;
}

#battery.warning:not(.charging) {
    color: #bf616a;
}
